* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10223;
}
.backdrop {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.container {
  margin-top: 2rem;
  height: 150px;
  width: 500px;
  border-radius: 15px;
  background-color: #fff;
  align-items: center;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h3 {
  font-size: 40px;
  color: red;
}

h1 {
  font-size: 4rem;
  color: red;
}
p {
  color: red;
}

.newYear {
  font-size: 150px;
  color: #3b3b3b;
}

@media (max-width: 760px) {
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 25px;
  }
  .container {
    width: 350px;
  }
}
